
#title {
    text-align: center;
}

#img-div img{
    display: block;
    max-width: 90%;
    height: auto;
    margin: auto;
}

#img-div {
    text-align: center;
    margin: auto;
    width: 50%;
}

#tribute-info {
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
}